body {
  margin: 0;
  font-family: sans-serif;
}

.hashtag-header {
  /* height: 300px; */
  background-color: #065fd4;
  padding: 5rem 8rem;
  color: white;
  background-image: url(./images/background.png);
  background-size: 230px;
  background-position-x: 100%;
  background-position-y: -160px;
  background-repeat: no-repeat;
}

.hashtag-header h1 {
  margin: 0;
  margin-bottom: 1rem;
  font-size: 2.5rem;
}

.hashtag-header span {
  font-size: 1.5rem;
}

.hashtag-header img {
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  border: 5px solid white;
  vertical-align: middle;
}

img + img {
  margin-left: -2rem;
}

